{% extends "comp_sys_site/base.html" %}
{% load static %}

{% block extra_css %}
    <style>
        .container {
            margin-top: 20px;
        }

        h2 {
            font-size: 18px;
            margin-top: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }

        #rankings-table {
            width: 100%;
            border-collapse: collapse;
        }

        #rankings-table th,
        #rankings-table td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #rankings-table thead th {
            background-color: #9d9795;
            font-weight: bold;
        }

        #rankings-table tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        #rankings-table tbody tr:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }

        {#.sub-table {#}
        {#    width: 100%;#}
        {#    margin-top: 10px;#}
        {#}#}

        .sub-table th,
        .sub-table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .sub-table thead th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .sub-table tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%; /* Adjust the width to 30% */
        }

        #pub-distribution-chart {
            width: 100%;
            height: auto;
        }

        #rankings-table-head {
            background-color: #6f727b;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .help-icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: #daaa00;
            color: black;
            border-radius: 50%;
            text-align: center;
            font-size: 12px;
            line-height: 16px;
            cursor: help;
            position: relative;
        }

        .help-icon::after {
            content: attr(data-tooltip);
            position: absolute;
            bottom: 125%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #333;
            color: white;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 14px;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
        }

        .help-icon:hover::after {
            opacity: 1;
            visibility: visible;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <form id="filter-form">
                    {% csrf_token %}
                    <fieldset class="form-group">

                        <legend class="border-bottom mb-4">Year Filter</legend>
                        <div class="form-row d-flex justify-content-center text-center">
                            <div class="form-group col-md-4">
                                <label for="start-year" class="mb-2">Start Year</label>
                                <select class="form-control" id="start-year" name="start_year">
                                    {% for year in year_range %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="end-year" class="mb-2">End Year</label>
                                <select class="form-control" id="end-year" name="end_year">
                                    {% for year in year_range reversed %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="container pt-2">
                            <button type="button" id="apply-year-filter-btn" class="btn btn-outline-dark">Apply Year
                                Filter
                            </button>
                        </div>


                        <legend class="border-bottom mb-4 pt-4">Area Filters</legend>

                        <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">

                            <label class="btn">
                                <input type="button" id="select-all-btn" class="btn btn-outline-dark"
                                       autocomplete="off" value="Select All Conferences">
                            </label>
                            <label class="btn">
                                <input type="button" id="deselect-all-btn" class="btn btn-outline-dark"
                                       autocomplete="off" value="Deselect All Conferences">
                            </label>

                            <label class="btn">
                                <input type="button" class="btn btn-outline-dark" name="options"
                                       id="toggleCollapse"
                                       autocomplete="off" value="Collapse/Expand All Areas">
                            </label>

                            <label class="btn">
                                <input type="button" id="apply-filter-btn" class="btn btn-outline-dark btn-lg"
                                       autocomplete="off" value="Apply Area Filter">
                            </label>
                        </div>

                        <h4 class="border-bottom mb-4 pt-2">Areas</h4>
                        <ul>
                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse"
                                   href="#Computer-architecture"
                                   role="button" aria-expanded="false" aria-controls="Computer-architecture">Computer
                                    architecture</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Computer-architecture">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">

                                                <input type="checkbox" class="btn-check" id="ASPLOS" name="areas"
                                                       value="ASPLOS" autocomplete="off"
                                                       {% if 'ASPLOS' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ASPLOS">ASPLOS</label>

                                                <input type="checkbox" class="btn-check" id="ISCA" name="areas"
                                                       value="ISCA" autocomplete="off"
                                                       {% if 'ISCA' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ISCA">ISCA</label>

                                                <input type="checkbox" class="btn-check" id="MICRO" name="areas"
                                                       value="MICRO" autocomplete="off"
                                                       {% if 'MICRO' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="MICRO">MICRO</label>

                                                <input type="checkbox" class="btn-check" id="HPCA" name="areas"
                                                       value="HPCA" autocomplete="off"
                                                       {% if 'HPCA' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="HPCA">HPCA</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse" href="#Computer-networks"
                                   role="button" aria-expanded="false" aria-controls="Computer-networks">Computer
                                    networks</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Computer-networks">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="SIGCOMM" name="areas"
                                                       value="SIGCOMM" autocomplete="off"
                                                       {% if 'SIGCOMM' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="SIGCOMM">SIGCOMM</label>

                                                <input type="checkbox" class="btn-check" id="NSDI" name="areas"
                                                       value="NSDI" autocomplete="off"
                                                       {% if 'NSDI' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="NSDI">NSDI</label>

                                                <input type="checkbox" class="btn-check" id="CONEXT" name="areas"
                                                       value="CONEXT" autocomplete="off"
                                                       {% if 'CONEXT' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="CONEXT">CONEXT</label>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li><a class="btn btn-outline-dark" data-bs-toggle="collapse" href="#Computer-security"
                                   role="button" aria-expanded="false" aria-controls="Computer-security">Computer
                                security</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Computer-security">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="CCS" name="areas"
                                                       value="CCS" autocomplete="off"
                                                       {% if 'CCS' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="CCS">CCS</label>

                                                <input type="checkbox" class="btn-check" id="ACM-CCS" name="areas"
                                                       value="ACM-CCS" autocomplete="off"
                                                       {% if 'ACM-CCS' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ACM-CCS">ACM CCS</label>

                                                <input type="checkbox" class="btn-check" id="ACM-Conference"
                                                       name="areas"
                                                       value="ACM-Conference-on-Computer-and-Communications-Security"
                                                       autocomplete="off"
                                                       {% if 'ACM-Conference-on-Computer-and-Communications-Security' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ACM-Conference">ACM
                                                    Conference on Computer and Communications Security</label>

                                                <input type="checkbox" class="btn-check" id="USENIX-Security"
                                                       name="areas" value="USENIX-Security" autocomplete="off"
                                                       {% if 'USENIX-Security' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="USENIX-Security">USENIX
                                                    Security</label>

                                                <input type="checkbox" class="btn-check" id="USENIX-Security-Symposium"
                                                       name="areas" value="USENIX-Security-Symposium"
                                                       autocomplete="off"
                                                       {% if 'USENIX-Security-Symposium' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="USENIX-Security-Symposium">USENIX
                                                    Security Symposium</label>

                                                <input type="checkbox" class="btn-check" id="NDSS" name="areas"
                                                       value="NDSS" autocomplete="off"
                                                       {% if 'NDSS' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="NDSS">NDSS</label>

                                                <input type="checkbox" class="btn-check" id="IEEE-Symposium"
                                                       name="areas" value="IEEE-Symposium-on-Security-and-Privacy"
                                                       autocomplete="off"
                                                       {% if 'IEEE-Symposium-on-Security-and-Privacy' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="IEEE-Symposium">IEEE
                                                    Symposium on Security and Privacy</label>

                                                <input type="checkbox" class="btn-check" id="IEEE-Security-and-Privacy"
                                                       name="areas" value="IEEE-Security-and-Privacy"
                                                       autocomplete="off"
                                                       {% if 'IEEE-Security-and-Privacy' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="IEEE-Security-and-Privacy">IEEE
                                                    Security and Privacy</label>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse" href="#Databases"
                                   role="button" aria-expanded="false" aria-controls="Databases">Databases</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Databases">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="SIGMOD" name="areas"
                                                       value="SIGMOD" autocomplete="off"
                                                       {% if 'SIGMOD' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="SIGMOD">SIGMOD</label>

                                                <input type="checkbox" class="btn-check" id="SIGMOD-Conference"
                                                       name="areas" value="SIGMOD-Conference" autocomplete="off"
                                                       {% if 'SIGMOD-Conference' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="SIGMOD-Conference">SIGMOD
                                                    Conference</label>

                                                <input type="checkbox" class="btn-check" id="VLDB"
                                                       name="areas" value="VLDB" autocomplete="off"
                                                       {% if 'VLDB' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="VLDB">VLDB
                                                    Security</label>

                                                <input type="checkbox" class="btn-check" id="ICDE"
                                                       name="areas" value="ICDE" autocomplete="off"
                                                       {% if 'ICDE' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ICDE">ICDE</label>

                                                <input type="checkbox" class="btn-check" id="PODS" name="areas"
                                                       value="PODS" autocomplete="off"
                                                       {% if 'PODS' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="PODS">PODS</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse" href="#System-Design"
                                   role="button" aria-expanded="false" aria-controls="Databases">System Design</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="System-Design">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="DAC" name="areas"
                                                       value="DAC" autocomplete="off"
                                                       {% if 'DAC' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="DAC">DAC</label>

                                                <input type="checkbox" class="btn-check" id="ICCAD"
                                                       name="areas" value="ICCAD" autocomplete="off"
                                                       {% if 'ICCAD' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ICCAD">ICCAD</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse"
                                   href="#Embedded-and-Real-time"
                                   role="button" aria-expanded="false" aria-controls="Embedded-and-Real-time">Embedded
                                    and
                                    Real-time</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Embedded-and-Real-time">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="RTAS" name="areas"
                                                       value="RTAS" autocomplete="off"
                                                       {% if 'RTAS' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="RTAS">RTAS</label>

                                                <input type="checkbox" class="btn-check" id="RTSS" name="areas"
                                                       value="RTSS" autocomplete="off"
                                                       {% if 'RTSS' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="RTSS">RTSS</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse"
                                   href="#High-performance-computing"
                                   role="button" aria-expanded="false" aria-controls="High-performance-computing">High-performance
                                    computing</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="High-performance-computing">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="Supercomputing"
                                                       name="areas" value="Supercomputing" autocomplete="off"
                                                       {% if 'Supercomputing' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark"
                                                       for="Supercomputing">Supercomputing</label>

                                                <input type="checkbox" class="btn-check" id="HPDC" name="areas"
                                                       value="HPDC" autocomplete="off"
                                                       {% if 'HPDC' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="HPDC">HPDC</label>

                                                <input type="checkbox" class="btn-check" id="ICS" name="areas"
                                                       value="ICS" autocomplete="off"
                                                       {% if 'ICS' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ICS">ICS</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse" href="#Mobile-computing"
                                   role="button" aria-expanded="false" aria-controls="Mobile-computing">Mobile
                                    computing</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Mobile-computing">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="MobiSys" name="areas"
                                                       value="MobiSys" autocomplete="off"
                                                       {% if 'MobiSys' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="MobiSys">MobiSys</label>

                                                <input type="checkbox" class="btn-check" id="MobiCom" name="areas"
                                                       value="MobiCom" autocomplete="off"
                                                       {% if 'MobiCom' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="MobiCom">MobiCom</label>

                                                <input type="checkbox" class="btn-check" id="SenSys" name="areas"
                                                       value="SenSys" autocomplete="off"
                                                       {% if 'SenSys' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="SenSys">SenSys</label>

                                                <input type="checkbox" class="btn-check" id="IPSN" name="areas"
                                                       value="IPSN" autocomplete="off"
                                                       {% if 'IPSN' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="IPSN">IPSN</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse"
                                   href="#Measurement-and-Performance-analysis"
                                   role="button" aria-expanded="false"
                                   aria-controls="Measurement-and-Performance-analysis">Measurement
                                    and Performance analysis</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Measurement-and-Performance-analysis">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="IMC" name="areas"
                                                       value="IMC" autocomplete="off"
                                                       {% if 'IMC' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="IMC">IMC</label>

                                                <input type="checkbox" class="btn-check" id="Sigmetrics" name="areas"
                                                       value="Sigmetrics" autocomplete="off"
                                                       {% if 'Sigmetrics' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark"
                                                       for="Sigmetrics">Sigmetrics</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse" href="#Operating-systems"
                                   role="button" aria-expanded="false" aria-controls="Operating-systems">Operating
                                    systems</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Operating-systems">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="SOSP" name="areas"
                                                       value="SOSP" autocomplete="off"
                                                       {% if 'SOSP' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="SOSP">SOSP</label>

                                                <input type="checkbox" class="btn-check" id="OSDI" name="areas"
                                                       value="OSDI" autocomplete="off"
                                                       {% if 'OSDI' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="OSDI">OSDI</label>

                                                <input type="checkbox" class="btn-check" id="EuroSys" name="areas"
                                                       value="EuroSys" autocomplete="off"
                                                       {% if 'EuroSys' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="EuroSys">EuroSys</label>

                                                <input type="checkbox" class="btn-check" id="USENIX-ATC" name="areas"
                                                       value="USENIX-Annual-Technical-Conference" autocomplete="off"
                                                       {% if 'USENIX-Annual-Technical-Conference' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="USENIX-ATC">USENIX Annual
                                                    Technical Conference</label>

                                                <input type="checkbox" class="btn-check" id="USENIX-ATC-Short"
                                                       name="areas" value="USENIX-ATC-Short" autocomplete="off"
                                                       {% if 'USENIX-ATC-Short' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="USENIX-ATC-Short">USENIX
                                                    ATC</label>

                                                <input type="checkbox" class="btn-check" id="USENIX-FAST" name="areas"
                                                       value="USENIX-FAST" autocomplete="off"
                                                       {% if 'USENIX-FAST' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="USENIX-FAST">USENIX
                                                    FAST</label>

                                                <input type="checkbox" class="btn-check" id="FAST" name="areas"
                                                       value="FAST" autocomplete="off"
                                                       {% if 'FAST' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="FAST">FAST</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse"
                                   href="#Programming-languages"
                                   role="button" aria-expanded="false" aria-controls="Programming-languages">Programming
                                    languages</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Programming-languages">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="PLDI" name="areas"
                                                       value="PLDI" autocomplete="off"
                                                       {% if 'PLDI' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="PLDI">PLDI</label>

                                                <input type="checkbox" class="btn-check" id="POPL" name="areas"
                                                       value="POPL" autocomplete="off"
                                                       {% if 'POPL' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="POPL">POPL</label>

                                                <input type="checkbox" class="btn-check" id="OOPSLA" name="areas"
                                                       value="OOPSLA" autocomplete="off"
                                                       {% if 'OOPSLA' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="OOPSLA">OOPSLA</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse"
                                   href="#Software-engineering"
                                   role="button" aria-expanded="false" aria-controls="Software-engineering">Software
                                    engineering</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Software-engineering">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="ASE" name="areas"
                                                       value="ASE" autocomplete="off"
                                                       {% if 'ASE' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ASE">ASE</label>

                                                <input type="checkbox" class="btn-check" id="FSE" name="areas"
                                                       value="FSE" autocomplete="off"
                                                       {% if 'FSE' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="FSE">FSE</label>

                                                <input type="checkbox" class="btn-check" id="SIGSOFT-FSE" name="areas"
                                                       value="SIGSOFT-FSE" autocomplete="off"
                                                       {% if 'SIGSOFT-FSE' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="SIGSOFT-FSE">SIGSOFT
                                                    FSE</label>

                                                <input type="checkbox" class="btn-check" id="ESEC-SIGSOFT-FSE"
                                                       name="areas" value="ESEC-SIGSOFT-FSE" autocomplete="off"
                                                       {% if 'ESEC-SIGSOFT-FSE' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ESEC-SIGSOFT-FSE">ESEC/SIGSOFT
                                                    FSE</label>

                                                <input type="checkbox" class="btn-check" id="ICSE" name="areas"
                                                       value="ICSE" autocomplete="off"
                                                       {% if 'ICSE' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ICSE">ICSE</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse"
                                   href="#Distributed-systems-and-Dependability"
                                   role="button" aria-expanded="false"
                                   aria-controls="Distributed-systems-and-Dependability">Distributed
                                    systems and Dependability</a>
                                <div class="col">
                                    <div class="collapse multi-collapse" id="Distributed-systems-and-Dependability">
                                        <div class="card card-body">
                                            <div class="btn-group-vertical" role="group"
                                                 aria-label="Vertical radio toggle button group">
                                                <input type="checkbox" class="btn-check" id="DISC" name="areas"
                                                       value="DISC" autocomplete="off"
                                                       {% if 'DISC' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="DISC">DISC</label>

                                                <input type="checkbox" class="btn-check" id="DSN" name="areas"
                                                       value="DSN" autocomplete="off"
                                                       {% if 'DSN' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="DSN">DSN</label>

                                                <input type="checkbox" class="btn-check" id="ICDCS" name="areas"
                                                       value="ICDCS" autocomplete="off"
                                                       {% if 'ICDCS' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="ICDCS">ICDCS</label>

                                                <input type="checkbox" class="btn-check" id="PODC" name="areas"
                                                       value="PODC" autocomplete="off"
                                                       {% if 'PODC' in selected_areas %}checked{% endif %}>
                                                <label class="btn btn-outline-dark" for="PODC">PODC</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>

                        </ul>
                    </fieldset>
                </form>
            </div>

            <div class="col-md-9">
                <script id="sorted-ranks-data" type="application/json">
                    {{ sorted_ranks|safe }}
                </script>

                <table id="rankings-table" class="table table-responsive">
                    <thead id="rankings-table-head">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Institution</th>
                        <th scope="col">Count <span class="help-icon"
                                                    data-tooltip="The geometric mean publication count for the institution for all selected areas.">?</span>
                        </th>
                        <th scope="col">Faculty <span class="help-icon"
                                                      data-tooltip="The institution faculty count included in the DBLP.">?</span>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Empty tbody, will be populated by JavaScript -->
                    </tbody>
                </table>
            </div>

            <div id="pub-distribution-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <canvas id="pub-distribution-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <hr>
                <p>
                    <a href="#" id="feedback-link" class="btn btn-outline-secondary btn-sm">
                        <i class="fas fa-comment-alt"></i> Provide Feedback or Report Issues
                    </a>
                </p>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            var sortedRanksData = JSON.parse(document.getElementById('sorted-ranks-data').textContent);
            var institutionData = {};

            for (var institution in sortedRanksData) {
                if (sortedRanksData.hasOwnProperty(institution)) {
                    institutionData[institution] = sortedRanksData[institution];
                }
            }

            updateTable();

            $('#rankings-table').on('click', '.toggle-icon', function () {
                var row = $(this).closest('tr');
                var institution = row.data('institution');
                var authors = institutionData[institution].authors;

                if (row.next().hasClass('sub-table-row')) {
                    row.next().remove();
                    $(this).text('+');
                } else {
                    var subTableHtml = '<tr class="sub-table-row"><td colspan="4"><table class="table table-responsive sub-table">';
                    subTableHtml += '<thead><tr><th scope="col">Faculty</th><th scope="col">Areas</th><th scope="col">Pub. Count</th><th scope="col">Adjusted</th><th scope="col">Distribution</th></tr></thead>';
                    subTableHtml += '<tbody>';

                    if (authors && Object.keys(authors).length > 0) {
                        for (var author in authors) {
                            var authorData = authors[author];
                            var paperCount = authorData['paper_count'] || 0;
                            var areas = authorData['top_areas'] ? authorData['top_areas'].map(formatAreaName).join(", ") : "";
                            var score = 0;

                            for (var key in authorData) {
                                if (key !== 'paper_count' && key !== 'area_paper_counts' && key !== 'top_areas' && key !== 'dblp_link') {
                                    var value = parseFloat(authorData[key]);
                                    if (!isNaN(value)) {
                                        score += value;
                                    }
                                }
                            }

                            subTableHtml += '<tr><td>' + author + ' <a href="' + authorData['dblp_link'] + '" target="_blank">(DBLP)</a></td><td>' + areas + '</td><td>' + paperCount + '</td><td>' + score.toFixed(2) + '</td><td><a href="#" class="pub-distribution-link" data-institution="' + institution + '" data-author="' + author + '">Pub Distribution</a></td></tr>';
                        }
                    } else {
                        subTableHtml += '<tr><td colspan="5">No data available</td></tr>';
                    }

                    subTableHtml += '</tbody></table></td></tr>';
                    row.after(subTableHtml);
                    $(this).text('-');
                }
            });


            $('#toggleCollapse').click(function () {
                var collapsedElements = $('.collapse.multi-collapse:not(.show)');
                var expandedElements = $('.collapse.multi-collapse.show');

                if (collapsedElements.length > 0) {
                    collapsedElements.collapse('show');
                } else if (expandedElements.length > 0) {
                    expandedElements.collapse('hide');
                }
            });

            function applyFilters() {
                var selectedAreas = $('input[name="areas"]:checked').map(function () {
                    return $(this).val();
                }).get();

                var startYear = $('#start-year').val();
                var endYear = $('#end-year').val();

                $.ajax({
                    url: '{% url "home" %}',
                    method: 'POST',
                    data: {
                        'areas[]': selectedAreas,
                        'start_year': startYear,
                        'end_year': endYear,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        institutionData = response.sorted_ranks;
                        updateTable(response);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            }

            $('#apply-filter-btn').click(function () {
                applyFilters();
            });

            $('#apply-year-filter-btn').click(function () {
                applyFilters();
            });

            function updateTable() {
                var tableBody = $('#rankings-table tbody');
                tableBody.empty();

                $.each(institutionData, function (institution, data) {
                    var row = '<tr data-institution="' + institution + '">' +
                        '<td>' + (tableBody.children().length + 1) + '</td>' +
                        '<td><span class="toggle-icon">+</span> ' + institution + '</td>' +
                        '<td>' + parseFloat(data.average_count).toFixed(2) + '</td>' +
                        '<td>' + data.author_count + '</td>' +
                        '</tr>';
                    tableBody.append(row);
                });
            }

            $(document).on('click', '.pub-distribution-link', function (e) {
                e.preventDefault();
                var institution = $(this).data('institution');
                var author = $(this).data('author');

                $.ajax({
                    url: '{% url "get_author_pub_distribution" %}',
                    method: 'POST',
                    data: {
                        'institution': institution,
                        'author': author,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        var pubDistribution = response.pub_distribution;
                        displayPubDistributionGraph(pubDistribution);
                        openModal();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

            var pubDistributionChart; // Declare a variable to store the chart instance

            function displayPubDistributionGraph(pubDistribution) {
                var ctx = document.getElementById('pub-distribution-chart').getContext('2d');

                // Destroy the previous chart instance if it exists
                if (pubDistributionChart) {
                    pubDistributionChart.destroy();
                }

                // Create a new chart instance and store the reference
                pubDistributionChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: Object.keys(pubDistribution),
                        datasets: [{
                            label: 'Publication Count',
                            data: Object.values(pubDistribution),
                            backgroundColor: 'rgba(75, 192, 192, 0.6)'
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true,
                                stepSize: 1
                            }
                        }
                    }
                });
            }

            function openModal() {
                var modal = document.getElementById('pub-distribution-modal');
                modal.style.display = 'block';
            }

            function closeModal() {
                var modal = document.getElementById('pub-distribution-modal');
                modal.style.display = 'none';
            }

            function formatAreaName(area) {
                const lowercaseWords = ['and', 'of', 'in', 'on', 'for', 'the', 'to'];
                return area.split('_')
                    .map((word, index) => {
                        if (index === 0 || !lowercaseWords.includes(word)) {
                            return word.charAt(0).toUpperCase() + word.slice(1);
                        }
                        return word;
                    })
                    .join(' ');
            }

            $('#feedback-link').click(function (e) {
                e.preventDefault();
                var subject = encodeURIComponent("Feedback for CompSys Rankings Site");
                var body = encodeURIComponent("Dear Team,\n\nI have the following feedback or issue to report:\n\n[Please describe your feedback or the issue you've encountered here]\n\nBest regards,\n[Your Name]");
                window.location.href = "mailto:compsysrankings@gmail.com?subject=" + subject + "&body=" + body;
            });

            $(document).on('click', '.close', function () {
                closeModal();
            });

            $('#select-all-btn').click(function () {
                $('input[name="areas"]').prop('checked', true);
            });

            $('#deselect-all-btn').click(function () {
                $('input[name="areas"]').prop('checked', false);
            });
        });
    </script>
{% endblock %}